@import url('<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">');
@import url('<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">');

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  h1,h2,h3,button{
    font-family: "Raleway",sans-serif;
  }
  h1.header_text {
    font-size: 3rem;
    line-height: 70px;
}
  p{
    font-family: "OpenSans",sans-serif;
    font-size: 1rem;
    line-height: 20px;
  }
  .logo{
    width:5rem;
    height:5vh;
  }
  header{
    display: flex;
    justify-content:space-between ;
  }
  header.nav{
    padding-top: 3rem;
    padding-bottom: 5rem;
  }
  nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}
nav ul li {
  margin-right: 1rem; /* optional, for spacing */
  
}
nav ul li a{
  text-decoration: none;
}
header{
  width:100%;
}
.header-paragraph{
  width: 60%;
  line-height: 20px;
}
.hero { 
  display: flex;
  justify-content:space-between ;
  padding-bottom: 7rem;
}
.input-hero{
  width: 50%;
  padding: 10px;
  opacity: 0.5;
  margin-right: 15px;
}
.first_hero_box{
  width:50%;
}
.second_hero_box{
  width:50%;
}
.wrapper-input-btn{
  margin-top: 50px;
}
.nav,.hero,.second-hero-section,.third-hero-section,.footer{
  width:90%;
  margin:auto;
}

.second-hero-section { 
  display: flex;
  justify-content:space-between ;
  background-color:hsl(240, 75%, 98%);
  background: url("images/bg-curve-desktop.svg");
  background-repeat:no-repeat;
  padding-top: 100px;
}
.clip-container{
  width:40%;
}
.clip{
  display: flex;
}
.img {
  border-radius: 50%;
}
.btn-get-started{
  background-color: hsl(224, 93%, 58%);
  color:#fff;
  width:30%;
  border-radius: 2px;
  padding: 10px;
  cursor: pointer;
  border: none;
}
.avatar-container{
  display: flex;
}
.overall-quote{
  width:500px;
  height: 300px;
  border: 1px solid black;
}
.overall-quote{
  background-color: #fff;
}
.arrow-container{
  border-bottom: underline;
  color:hsl(170, 45%, 43%) ;
}
.third-hero-section{
  display: flex;
  background-color: hsl(238, 22%, 44%) ;
  color: #fff;
  padding:100px 20px;
}
.third-hero-section input{
  width:80%;
}
.CEO{
  padding-left: 40px;
}
.input-hero{
  background-color:hsl(240, 75%, 98%); 
  margin-bottom: 10px;
}
.btn-free{
  display: block;
  background-color: hsl(224, 93%, 58%);
  border-radius: 2px;
  padding: 10px;
}
.footer{
  display: flex;
  justify-content:space-between ;
  background-color: hsl(243, 87%, 12%);
  color: #fff;
  padding:70px 20px;
  
}
footer ul li{
  list-style:none;
}
.logo-footer{
  filter: brightness(0);
  filter: invert(1);
  padding-top: 50px;
}
.footer-down{
  padding-top: 100px;
}
@media screen and (max-width:600px) {
  .hero { 
    flex-direction: column-reverse;
  }
  .first_hero_box{
    width:100%;
  }
  .second_hero_box{
    width:100%;
  }
  .first_hero_box{
    text-align: center;
  }
  h1.header_text {
    font-size: 30px;
    line-height: 40px;
}
}
 